:root {
  --active_color: #ff3d00;
}

.navbody {
  background-color: hsl(226, 43%, 15%);
  color: white;
  width: 100%;
  font-size: 1.1rem;
  height: 50px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2em;
}
.navlink {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.15s ease;
}
.logoLink {
  color: white;
  text-decoration: none;
}
.navlink:hover {
  color: hsl(220, 90%, 70%);
}

.act-header {
  color: chocolate;
}

@media (max-width: 750px) {
  .rside {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbody {
    padding-inline: 0.5em;
  }
  .navlink {
    margin: 0 0.5rem;
  }
  #homeLink {
    display: none;
  }
}
